:root {
    --banner-height: 190px;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    overflow: hidden;
}
main {
    border-radius: 40px;
    overflow: hidden;

    background-color: white;

    z-index: 1;

    display: flex;
    align-items: center;
}

section {
    width: 100%;
}


#banner {
    height: var(--banner-height);
    background-color: rgb(17, 52, 107);

    transform: scaleY(150%);
}
#banner-blur {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--banner-height);

    background-color: rgb(30, 30, 30, 0.3);
    backdrop-filter: blur(40px);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transform: scaleY(130%);
}

#title {
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    font-weight: 200;
    font-style: normal;

    color: white;


    transform: scaleY(76.9230769%);
}

#logo {
    /* width: 100px; */
    height: 0.75em;
}

.blob-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--banner-height);
}


#upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button {
    width: 150px;
    height: 150px;
    margin: 80px;

    border-radius: 100px;

    background-color: white;

    box-shadow: 0 0 10px 0px rgb(150, 150, 150);

    cursor: pointer;
}

.image {
    position: absolute;
    width: 200px;
    height: 220px;
    left: 0px;

    flex: none;

    overflow: hidden;
    object-fit: fill;

    display: flex;
    flex-direction: row;
    justify-content: center;

    border-radius: 15px;
    box-shadow: 0 0 10px 0px rgb(150, 150, 150);

    z-index: 0;
}

.label {
    position: absolute;
    bottom: 10px;
    right: 10px;

    height: 32px;

    border-radius: 10px;

    backdrop-filter: contrast(0.5) blur(1px);

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    line-height: 32px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    transition: width 0.2s ease-out, color 0.2s linear 0.1s;
}

.label[data-type='loading'] {
    width: 41px;
}

.label[data-type='ai'] {
    width: 32px;
}

.label[data-type='real'] {
    width: 56px;
}

.loading-dot {
    width: 4px;
    height: 4px;
    position: relative;

    overflow: hidden;

    border-radius: 4px;

    background-color: white;

    animation: bounce 1s ease-in-out 0s infinite forwards;
}

@keyframes bounce {
    from {
        transform: translateY(-4px);
    }

    40% {
        transform: translateY(4px);
    }

    to {
        transform: translateY(-4px);
    }
}

#carousel {
    position: relative;

    width: 100vw;
    height: 220px;

    overflow: visible;

    margin: 10px 0px 100px 0px;

    display: none;
}

#left-scroll, #right-scroll {
    position: absolute;
    top: 25%;

    width: 50px;
    height: 50%;

    background-size: contain;
    background-repeat: no-repeat;

    transform: scaleY(110%);

    z-index: 1;

    cursor: pointer;

    transition: opacity 0.1s;
}

#left-scroll {
    left: 0px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 5px 0px rgb(200, 200, 200);

    background-position: 60% 50%;
    background-image: url('assets/left-bracket.svg');
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

#right-scroll {
    left: calc(100vw - 50px);
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 5px 0px rgb(200, 200, 200);

    background-size: contain;
    background-position: 50% 50%;
    background-image: url('assets/right-bracket.svg');
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}


#img-input {
    display: none;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#info-wrapper {
    max-width: 1000px;
    margin-bottom: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-container {
    flex: 0 0 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    margin: 0 20px;

    font-family: "Poppins", sans-serif;
}

.info-container * {
    display: block;

    color: rgb(60, 60, 60);

    text-align: center;
}

.info-title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 5px;
}

.info-content {
    font-size: 17px;
}


footer {
    position: relative;
    height: 70px;
    width: 100%;

    background-color: rgb(17, 52, 107);

    color: white;
    font-family: "Poppins", sans-serif;

    overflow: hidden;

    z-index: 0;

    transform: scaleY(200%);
}
footer a {
    color: white;
}

#footer-blur {
    position: absolute;
    width: 100%;
    height: 70px;

    background-color: rgb(30, 30, 30, 0.3);
    backdrop-filter: blur(40px);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    /* transform: scaleY(50%); */
}
footer .blob-container {
    height: 70px;
    transform: scale(-400%, 140%);
}
#footer-blur div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    transform: scaleY(50%);
}

#github-mark {
    position: relative;
    top: 2px;
    height: 1em;

    margin-left: 8px;
}


.static {
    transition: none !important;
}