:root {
    --banner-height: 190px;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
}

#banner, #banner-blur {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--banner-height);

    background-color: rgb(17, 52, 107);
}
#banner-blur {
    background-color: rgb(30, 30, 30, 0.3);
    backdrop-filter: blur(40px);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#title {
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    font-weight: 200;
    font-style: normal;

    color: white;
}
#logo {
    /* width: 100px; */
    height: 0.75em;
}

#blob-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--banner-height);
}


#upload {
    /* height: 1000px; */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#button {
    width: 150px;
    height: 150px;
    margin: 80px;

    border-radius: 100px;

    background-color: white;

    box-shadow: 0 0 10px 0px rgb(150, 150, 150);

    cursor: pointer;
}

.image {
    position: absolute;
    width: 200px;
    height: 220px;
    left: 0px;

    /* min-width: 0; */

    flex: none;

    /* margin: 0 40px; */

    overflow: hidden;
    object-fit: cover;

    display: flex;
    flex-direction: row;
    justify-content: center;

    border-radius: 15px;
    box-shadow: 0 0 10px 0px rgb(150, 150, 150);

    z-index: 0;
}
.label {
    position: absolute;
    bottom: 10px;
    right: 10px;

    height: 32px;

    border-radius: 10px;

    backdrop-filter: contrast(0.5) blur(1px);

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    line-height: 32px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    transition: width 0.2s ease-out, color 0.2s linear 0.1s;
}
.label[data-type='loading'] {
    width: 41px;
}
.label[data-type='ai'] {
    width: 32px;
}
.label[data-type='real'] {
    width: 56px;
}
/* .ai-label {
    width: 32px;
}
.real-label {
    width: 50px;
}
.loading-label {
} */
.loading-dot {
    width: 4px;
    height: 4px;
    position: relative;

    overflow: hidden;

    border-radius: 4px;

    background-color: white;

    animation: bounce 1s ease-in-out 0s infinite forwards;
}
@keyframes bounce {
    from {
        transform: translateY(-4px);
    }
    40% {
        transform: translateY(4px);
    }
    to {
        transform: translateY(-4px);
    }
}

#carousel {
    position: relative;
    /* left: 0px; */
    
    width: 100vw;
    height: 220px;

    overflow: visible;
    /* overflow-x: scroll; */

    margin: 10px;

    /* background-color: red; */
}
#left-scroll, #right-scroll {
    position: absolute;
    top: 25%;
    
    width: 50px;
    height: 50%;

    background-size: contain;
    background-repeat: no-repeat;

    transform: scaleY(110%);

    z-index: 1;

    cursor: pointer;
}
#left-scroll {
    left: 0px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 5px 0px rgb(200, 200, 200);

    background-position: 60% 50%; 
    background-image: url('assets/left-bracket.svg');
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
#right-scroll {
    left: calc(100vw - 50px);
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 5px 0px rgb(200, 200, 200);

    background-size: contain;
    background-position: 50% 50%;
    background-image: url('assets/right-bracket.svg');
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

/* #image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
} */

#img-input {
    display: none;
}


#content {
    position: absolute;
    top: var(--banner-height);
    height: 800px;

}

#info {
    background-color: red;
}


.static {
    transition: none !important;
}